@import url("reset.css");

/*------------------------------------------------------------------*/
body {
    background-color: #0D0D11;
    font-family: "Poppins";
    font-weight: 300;
    color: #9C9C9C;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;
}

/*------------------------------------------------------------------*/
[class*="__container"] {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0px 15px;
}

/*------------------------------------------------------------------*/
.page {
    flex: 1 1 auto;
}

.page__main {}

.page__clients {}

.page__services {}

.page__why {}

.page__advantages {}

.page__testimonial {}

/*------------------------------------------------------------------*/
.button {
    display: inline-block;
    text-align: center;
    padding: 16px 30px;
    height: 52px;
    background-color: #3D96F4;
    border-radius: 50px;
    color: #fff;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.3s ease 0s;
    line-height: 1.57;
    /* 22/14 */
}

.button_dark {
    display: inline-block;
    text-align: center;
    padding: 16px 30px;
    height: 52px;
    background-color: rgba(129, 129, 139, 0.2);
    border-radius: 50px;
    color: #fff;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.3s ease 0s;
    line-height: 1.57;
}

@media (max-width: 991.98px) {
    .button {
        padding: 14px 20px;
    }
}

.button:hover {
    background-color: #68a9f0;
}

.button_dark:hover {
    background-color: rgba(179, 179, 197, 0.4);
}

.header-main {}

.header-main__label {
    display: inline-block;
    border: 1px solid rgba(129, 129, 139, 0.2);
    border-radius: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #9c9c9c;
    padding: 11px 18px;
    transition: border 0.3s ease 0s;
}

.header-main__label:hover {
    border: 1px solid rgba(129, 129, 139, 0.4);
}

.header-main__label:not(:last-child) {
    margin-bottom: 19px;
}

.header-main__title {
    font-weight: 500;
    font-size: 51px;
    line-height: 1.19;
    color: #fff;
    position: relative;
}

.header-main__title:not(:last-child) {
    margin-bottom: 28px;
}

.header-main__text {
    line-height: 1.5;
    font-size: 18px;
    color: #9C9C9C;
}

.header-main__text:not(:last-child) {
    margin-bottom: 33px;
}

.header-main__body {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.header-main__body .header-main__text {
    margin: 0;
}

.header-main__body .header-main__actions {
    align-self: flex-end;
    flex: 0 0 auto;
}

.header-main__actions {
    display: flex;
    column-gap: 32px;
    row-gap: 15px;
}

.header-main__button {
    align-self: flex-end;
}

.heder-maun__list {}

.heder-maun__list li {
    position: relative;
    min-height: 32px;
    padding-left: 40px;
    color: #9C9C9C;
    padding-top: 4px;
    line-height: 1.5;
}

.heder-maun__list li:not(:last-child) {
    margin-bottom: 16px;
}

.heder-maun__list li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background: rgba(129, 129, 139, 0.1) url('/img/why/li.svg') center no-repeat;
}

@media (max-width: 991.98px) {
    .header-main__title {
        margin-bottom: 44px;
    }
}

@media (min-width: 768px) {
    .header-main__title {
        max-width: 520px;
    }

    .header-main__text {
        max-width: 500px;
    }
}

@media (max-width: 767.98px) {
    .header-main__title {
        font-size: 32px;
    }

    .header-main__title:not(:last-child) {
        margin-bottom: 15px;
    }

    .header-main__text:not(:last-child) {
        margin-bottom: 15px;
    }

    .header-main__body {
        flex-direction: column;
        gap: 0;
    }

    .header-main__body .header-main__actions {
        align-self: flex-start;
    }
}

@media (max-width: 479.98px) {
    .header-main__actions {
        flex-direction: column;
    }
}

/*------------------------------------------------------------------*/
.text {
    color: #81818B;
    line-height: 1.5;
}

/*------------------------------------------------------------------*/
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: rgb(13, 13, 17, 0.7);
}

.header__container {
    display: flex;
    column-gap: 35px;
    align-items: center;
    min-height: 116px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header__logo {}

.header__menu {
    flex: 1 1 auto;
}

.menu {}

.menu__icon {}

.menu__body {}

.menu__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 35px;
    row-gap: 3px;
    justify-content: end;
}

.menu__item {}

.menu__link {
    display: block;
    font-size: 16px;
    color: #fff;
    line-height: 1.62;
    /* 26/16 */
}

.menu__link:hover {
    text-decoration: underline;
}

.header__cart {}

.cart-header {
    color: #fff;
    align-items: center;
    display: flex;
    gap: 5px;
}

.cart-header:hover .cart-header__text {
    text-decoration: underline;
}

.cart-header__text {
    font-size: 18px;
    line-height: 1.55;
    /* 28/18 */
}

.cart-header__quantity {
    background: rgba(129, 129, 139, 0.3);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}

.header__buuton {
    flex: 0 0 auto;
}

.icon-menu {
    display: none;
}

.header__logo,
.header__cart,
.header__buuton {
    position: relative;
    z-index: 5;
}

@media (max-width: 991.98px) {

    .header__container,
    .menu__list {
        column-gap: 25px;
    }

    .header__container {
        min-height: 90px;
    }
}

@media (max-width: 767.98px) {

    .header__container,
    .menu__list {
        column-gap: 15px;
    }

    .icon-menu {
        display: block;
        position: relative;
        flex: 0 0 30px;
        height: 18px;
        z-index: 5;
    }

    .icon-menu span,
    .icon-menu::before,
    .icon-menu::after {
        content: "";
        right: 0;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition: all 0.3s;
    }

    .icon-menu::before {
        top: 0;
    }

    .icon-menu::after {
        bottom: 0;
    }

    .icon-menu span {
        top: calc(50% - 1px);
    }

    .menu-open .icon-menu span {
        width: 0;
    }

    .menu-open .icon-menu::before {
        top: calc(50% - 1px);
        transform: rotate(-45deg);
    }

    .menu-open .icon-menu::after {
        bottom: calc(50% - 1px);
        transform: rotate(45deg);
    }

    .menu__body {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #000;
        left: -100%;
        top: 0;
        padding: 100px 15px 30px 15px;
        overflow: auto;
        transition: left 0.3s ease 0s;
    }

    .menu__body::before {
        content: "";
        width: 100%;
        position: fixed;
        top: 0;
        left: -100%;
        height: 70px;
        background-color: #000;
        z-index: 2;
        transition: left 0.3s ease 0s;
    }


    .menu__list {
        row-gap: 10px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .menu__link {
        font-size: 32px;
    }

    .header__container {
        min-height: 70px;
    }
}

.menu-open .menu__body,
.menu-open .menu__body::before {
    left: 0;
}

@media (max-width: 560px) {
    .header__logo {
        width: 48px;
        flex: 0 0 48px;
        overflow: hidden;
    }

    .cart-header__text {
        display: none;
    }

    .cart-header__quantity {
        width: 30px;
        height: 45px;
        border-radius: 0;
        font-weight: 500;
        background: url("/img/cart/shopping-cart.svg") center / 30px no-repeat;
    }
}


/*------------------------------------------------------------------*/


.main {
    padding-top: 160px;
    padding-bottom: 100px;
}

.main__container {
    display: flex;
    gap: 32px;
}

.main__content {
    flex: 0 1 50%;
    align-self: center;
}

.header-main__title {
    font-weight: 500;
    font-size: 51px;
    line-height: 1.19;
    /* 61/51 */
    color: #fff;
    max-width: 520px;
    position: relative;
}

.header-main__title:not(:last-child) {
    margin-bottom: 28px;
}

.main__header {
    position: relative;
}

.main__header::before {
    content: "";
    background: url('/img/decor.svg') 0 0 / 100% no-repeat;
    width: 122px;
    height: 122px;
    position: absolute;
    top: -30px;
    left: -34px;
}

.main__text {
    color: #9C9C9C;
}

.main__actions {}

.main__button {}



.main__images {
    flex: 0 1 50%;
}

.images-main {
    display: flex;
    gap: 9.615385%;
    /* 60/624 */
    justify-content: center;
}

.images-main__column {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.images-main__item {
    border-radius: 50% / 29%;
    overflow: hidden;
}

.images-main__item_1,
.images-main__item_4 {
    border-radius: 50% / 29%;
}

.images-main__item_2 {
    border-radius: 50% 50% 0 50%;
}

.images-main__item_3 {
    border-radius: 50% 0 50% 50%;
}

.images-main__item img {
    max-width: 100%;
}

@media (max-width: 991.98px) {
    .main {
        padding-top: 120px;
        padding-bottom: 60px;
    }
}

@media (max-width: 767.98px) {
    .main {
        padding-top: 100px;
        padding-bottom: 30px;
    }

    .main__container {
        flex-direction: column;
    }

    .main__content {
        align-self: stretch;
    }
}

/*------------------------------------------------------------------*/

.clients {
    padding-top: 100px;
    padding-bottom: 70px;
}

.clients__container {}

.clients__title {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 1.57;
    margin-bottom: 44px;
}

.clients__items {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.clients__item img {
    max-width: 100%;
}

@media (max-width: 991.98px) {
    .clients {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .clients__title {
        margin-bottom: 30px;
    }
}


@media (max-width: 767.98px) {
    .clients {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .clients__title {
        margin-bottom: 20px;
    }
}

/*------------------------------------------------------------------*/

.services {
    padding-top: 70px;
    padding-bottom: 100px;
}

.services__container {
    display: flex;
    gap: 32px;
}

.services__content {
    flex: 0 1 50%;
    align-self: center;
}

.services__header {}

.services__items {
    flex: 0 1 50%;
    display: flex;
    gap: 32px;
    justify-content: center;
}

.services__column {}

.services__column:first-child {
    padding-top: 48px;
}


.services__item {}

.services__item:not(:last-child) {
    margin-bottom: 32px;
}

.item-service {
    background: rgba(129, 129, 139, 0.1);
    border-radius: 30px;
    padding: 55px 25px;
    display: block;
}

.item-service__icon {}

.item-service__icon:not(:last-child) {
    margin-bottom: 16px;
}

.item-service__title {
    font-size: 19px;
    font-weight: 400;
    color: #fff;
    line-height: 1.42;
}

.item-service__title:not(:last-child) {
    margin-bottom: 10px;
}

.item-service__text {}

@media (max-width: 1100px) {
    .services__container {
        flex-direction: column;
    }

    .services__column:first-child {
        padding-top: 0px;
    }

    .services__header,
    .header-main__title,
    .services__header,
    .header-main__text {
        max-width: none;
    }
}

@media (max-width: 991.98px) {
    .services {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}


@media (max-width: 767.98px) {
    .services {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media (max-width: 620px) {
    .services__items {
        flex-direction: column;
    }
}

/*------------------------------------------------------------------*/

.why {
    padding-top: 100px;
    padding-bottom: 100px;
}

.why__container {
    display: flex;
    column-gap: 64px;
    row-gap: 32px;
}

.why__images {
    flex: 0 1 50%;
}

.images-why {
    display: flex;
    position: relative;
    align-self: flex-end;
}

.images-why__item {
    overflow: hidden;
}

.images-why__item img {
    max-width: 100%;
}

.images-why__item_1 {
    border-radius: 90% 0 49% 49% / 50% 0 31% 31%;
}

.images-why__item_2 {
    align-self: flex-end;
    border-radius: 50% 50% 50% 0;
}

.why-content {
    flex: 0 1 50%;
    align-self: center;
}

.why__header {}

.images-why::before {
    content: "";
    background: url('/img/decor.svg') 0 0 / 100% no-repeat;
    width: 122px;
    height: 122px;
    position: absolute;
    bottom: -10px;
    left: -34px;
}

@media (max-width: 991.98px) {
    .why {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}


@media (max-width: 767.98px) {
    .why {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .why__container {
        flex-direction: column-reverse;
    }
}

/*------------------------------------------------------------------*/

.advantages {
    padding-top: 100px;
    padding-bottom: 100px;
}

.advantages__container {
    display: flex;
    row-gap: 32px;
}

.advantages__items {
    flex: 1 1 auto;
    padding-right: 32px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 32px;
}

.advantages__item {
    padding: 40px;
    background: rgba(129, 129, 139, 0.1);
    border-radius: 30px;
}

.advantages__value {
    font-size: 51px;
    font-weight: 500;
    color: #fff;
}

.advantages__value:not(:last-child) {
    margin-bottom: 32px;
}

.advantages__text {
    font-size: 17px;
    line-height: 1.5;
}

.advantages__image {
    align-self: flex-end;
    flex: 0 0 38%;
    overflow: hidden;
    border-radius: 0% 68% 60% 60% / 0% 68% 50% 50%;
}

.advantages__image img {
    max-width: 100%;
    transform: scale(1.01);
}

@media (max-width: 991.98px) {
    .advantages {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .advantages__items {
        padding-right: 0;
    }

    .advantages__container {
        flex-direction: column;
    }

    .advantages__image {
        align-self: center;
    }
}

@media (max-width: 767.98px) {
    .advantages {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media (max-width: 650px) {
    .advantages__items {
        grid-template-columns: auto;
    }
}

/*------------------------------------------------------------------*/


.testimonial {
    padding-top: 100px;
    padding-bottom: 100px;
}

.testimonial__container {}

.testimonial__header {
    margin-bottom: 64px;
}

.testimonial__header .header-main__title {
    max-width: none;
}

.testimonial__header .header-main__text {
    max-width: 740px;
}

.testimonial__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.testimonial__item {}

.item-testimonial {
    padding: 64px 40px;
    background: rgba(129, 129, 139, 0.1);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.item-testimonial__user {}

.user-testimonial {
    display: flex;
    align-items: center;
    gap: 16px;
}

.user-testimonial__avatar {
    flex: 0 0 68px;
    overflow: hidden;
}

.user-testimonial__avatar img {
    max-width: 100%;
    transform: scale(1.01);
}

.user-testimonial__avatar_1 {
    border-radius: 0 50% 50% 50%;
}

.user-testimonial__avatar_2 {
    border-radius: 50% 0 50% 50%;
}

.user-testimonial__avatar_3 {
    border-radius: 50% 50% 0 50%;
}

.user-testimonial__body {}

.user-testimonial__title {
    line-height: 1.5;
    color: #fff;
}

.user-testimonial__title:not(:last-child) {
    margin-bottom: 7px;
}

.user-testimonial__company {
    font-size: 14px;
    line-height: 1.57;
}

.item-testimonial__title {
    color: #fff;
    font-size: 32px;
    line-height: 1.4;
}

.item-testimonial__text {
    font-size: 16px;
    flex: 1 1 auto;
    display: flex;
    line-height: 1.5;
}

.item-testimonial__rating {}

@media (max-width: 1100px) {
    .testimonial__items {
        grid-template-columns: auto;
    }

}

@media (max-width: 991.98px) {
    .testimonial {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .testimonial__header {
        margin-bottom: 40px;
    }
}

@media (max-width: 767.98px) {
    .testimonial {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .item-testimonial {
        padding: 30px 15px;
    }
}


/*------------------------------------------------------------------*/


/*------------------------------------------------------------------*/


/*------------------------------------------------------------------*/


/*------------------------------------------------------------------*/


/*------------------------------------------------------------------*/


/*------------------------------------------------------------------*/


/*------------------------------------------------------------------*/